body {
  background-color: aliceblue;
  min-height: 100vh;
}
.section {
  max-width: 920px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
header {
  padding: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  gap: 2rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
}
.input-amount {
  margin-bottom: 1rem;
}
.buttons {
  display: flex;
  gap: 2rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
