* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  min-height: 100vh;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.section {
  max-width: 920px;
  margin: 0 auto;
}
header {
  width: 100%;
  background-color: #2874f0;
  color: white;
}
nav {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  gap: 2rem;
}
.home {
  color: yellow;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
  gap: 1rem;
}
.input-amount {
  margin-bottom: 1rem;
}
.buttons {
  display: flex;
  gap: 2rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
